
        .cls-1 {fill: #eef9fe; opacity: 0.7;}
        .cls-2 {fill: #f6fbf8;}
        .cls-3 {fill: #c3c2c7;}
        .cls-4 {fill: #fccf58;}
        .cls-5 {fill: #fafdff;}
        .cls-6 {fill: #f59390;}
        .cls-7 {fill: #ccdcd9;}
        .cls-8 {fill: #7e8da0;}
        .cls-9 {fill: #7c8ca1;}
        .cls-10 {fill: #c6e6d7;}
        .cls-11 {fill: #def0e7;}
        .cls-12 {fill: #e6efed;}
        .cls-13 {fill: #f0f5f3;}
        .cls-14 {fill: #aac6c2;}
        .cls-15 {fill: #c4d9d9;}
        
      #blink1, #blink2, #blink3 {
      opacity: 0;
      animation: blinkIn 0.7s linear 0.5s forwards 3;
      }
      
      #blob {
      display:none;
      }
      
      #cloudSmall, #cloudLarge {
      animation: cloudsMove 20s ease-in-out infinite;
      }
      
      #treeLarge {
      animation: treeRightMove 12s ease-in-out infinite;
      }
      
      #treeSmall {
      animation: treeLeftMove 36s ease-in-out infinite;
      }
      
      
      
      /* Animations */
      @keyframes cloudsMove {
      0% {
        transform: translate(75%, 0);
      }
      100% {
        transform: translate(-100%,0); 
      }
      }
      
      @keyframes treeRightMove {
      0% {
        transform: translate(20%,0);
      }
      100% {
        transform: translate(-100%,0);
      }
      }
      
      @keyframes treeLeftMove {
      0% {
        transform: translate(150%,0);
      }
      100% {
        transform: translate(-100%,0);
      }
      }
      
      @keyframes blinkIn {
      0% {
        opacity: 0;
      }
      15% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
      }
 