.loader {
    width: 96px;
    box-sizing: content-box;
    height: 48px;
    background: #FFF;
    left:50%;
    top:50%;
    border-color: #de3500;
    border-style: solid;
    border-width: 2px 2px 50px 2px;
    border-radius: 100%;
    position: absolute;
    animation: 3s yinYang linear infinite;
  }
  .loader:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #FFF;
    border: 18px solid #de3500;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
  }
  .loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #de3500;
    border: 18px solid #FFF;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    box-sizing: content-box;
  }
  @keyframes yinYang {
    100%{transform: rotate(360deg)}
  }



.loaderDiv{
    position: absolute;
    display:flex;
    top:0;
    left:0;right:0;
    bottom:0;
    z-index: 11;
    background-color: rgba(0,0,0,0.5);
}

  .loaderMail {
    position: absolute;
    left:50%;
    top:50%;
     display:flex;

    z-index: 99;
    opacity:1.5;
    background-color: #FFF;
   border-style: solid;
    box-sizing: border-box;
    border-width: 40px 60px 30px 60px;
    border-color: #3760C9 #96DDFC #96DDFC #36BBF7;
    animation: envFloating 1s ease-in infinite alternate;
  }
  
  .loaderMail:after{
    content:"";
    position: absolute;
    right: 62px;
    top: -40px;
    height: 70px;
    width: 50px;
    background-image:
              linear-gradient(#fff 45px, transparent 0),
              linear-gradient(#fff 45px, transparent 0),
              linear-gradient(#fff 45px, transparent 0);
    background-repeat: no-repeat;
    background-size: 30px 4px;
    background-position: 0px 11px , 8px 35px, 0px 60px;
    animation: envDropping 0.75s linear infinite;
  }
  
  @keyframes envFloating {
    0% { transform: translate(-2px, -5px)}
    100% { transform: translate(0, 5px)}
  }
  
  @keyframes envDropping {
    0% {background-position: 100px 11px , 115px 35px, 105px 60px; opacity: 1;}
    50% {background-position: 0px 11px , 20px 35px, 5px 60px; }
    60% {background-position: -30px 11px , 0px 35px, -10px 60px; }
    75%, 100% {background-position: -30px 11px , -30px 35px, -30px 60px; opacity: 0;}
  }


  .loaderSquare {
    width: 48px;
    height: 48px;
    margin: auto;
    position: absolute;
    left:50%;
    top:50%;
}
  .loaderSquare:before {
      content: '';
      width: 48px;
      height: 5px;
      background: #000;
      opacity: 0.25;
      position: absolute;
      left:50%;
      top:50% +60px;
     
      border-radius: 50%;
      animation: shadow 0.5s linear infinite;
    }
    .loaderSquare:after {
      content: '';
      width: 100%;
      height: 100%;
      background: #fff;
      animation: bxSpin 0.5s linear infinite;
      position: absolute;
      left:50%;
      top:50%;
       border-radius: 4px;
    }
  @keyframes bxSpin {
    17% {
      border-bottom-right-radius: 3px;
    }
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
    50% {
      transform: translateY(18px) scale(1, .9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }

  @keyframes shadow {
    0%, 100% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1);
    }
  }

.btn{
    animation: bounce 1s infinite;
 
     @keyframes bounce {
       0%, 100% {
         transform: translateY(25%);
         animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
       }
       50% {
         transform: translateY(0);
         animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
       }
     }
 
  }